.main {
    display: grid;
    grid-template-columns: 1fr 1px 4fr;
    width: 100%;
}

.toolbar {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.container_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

.navi {
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: #0C4C8F;
    background-color: white;
}

.navi:hover {
    background-color: #efefef;
}

.navi_active {
    background-color: #1063BA;
    color: white;
    width: 100%;
    padding: 20px;
    text-decoration: none;
}

.body_navi_btn {
    font-weight: bold;
    color: #74005c;
    text-decoration: none;
    padding: 23px;
    background-color: white;
    border: 2px solid #74005c;
    border-radius: 2px; /* 圆角 */
    font-size: 20px;
    margin: 0 auto;
    transition: all 0.2s ease-in-out; /*  让动画流畅 */
}

.body_navi_btn:active {
    transform: translateY(1px) scale(0.95); /*  按下时按钮缩小 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /*  阴影变小 */
}

.body_navi_btn:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 23px;
    background-color: #74005c;
    border: 2px solid #74005c;
    font-size: 20px;
}

.vertical_line {
    height: 100%;
    width: 1px;
    background-color: #c3c3c3;
}

.vocabulary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 50px;
    font-weight: bold;
}

.vocabularyCheck_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.result_container {
    width: 100%;
    height: 100%;

}

.result_analysis_container {
    width: 100%;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

.ul {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 50px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
}

.ul li {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    padding-left: 20px;
    border-left: 2px solid #ddd;
    transition: all 0.3s ease-in-out; /* ✅ 平滑动画 */
}

.ul li:hover {
    background-color: rgba(0, 0, 0, 0.05); /* 添加浅灰色背景 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    transform: translateY(-3px); /*  轻微浮起 */
    transition: all 0.3s ease-in-out; /*  平滑动画 */
}

.grammar_main{
    width: 100%;
    height: 100%;
    display: flex;
}

.markdown_body{
    width: 100%;
    margin: 40px;
}
