/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
} */

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background: white;/*linear-gradient(to bottom, #1100ff6c, #4570ff) fixed;*/
  background-size: cover;
  font-family: "Times New Roman", Times, serif;  /* 适合正式场合 */
  font-family: "Arial", sans-serif;             /* 现代感强 */
  font-family: "Courier New", Courier, monospace; /* 代码风格 */
  font-family: "Georgia", serif;               /* 优雅的衬线字体 */
  font-family: "Verdana", sans-serif;          /* 适合 UI 设计 */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
